<web-app>
    <!-- Demais configurações do seu web.xml -->

    <servlet>
        <servlet-name>IdadeServlet</servlet-name>
        <servlet-class>IdadeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IdadeServlet</servlet-name>
        <url-pattern>/IdadeServlet</url-pattern>
    </servlet-mapping>
</web-app>
