<web-app>
    <!-- Demais configurações do seu web.xml -->

    <servlet>
        <servlet-name>InformacoesServlet</servlet-name>
        <servlet-class>InformacoesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InformacoesServlet</servlet-name>
        <url-pattern>/InformacoesServlet</url-pattern>
    </servlet-mapping>
</web-app>
